body {
    background-size: cover;
    margin: 0;
    background-color: black;
  }
  
section {
    margin-left: 10%;
    margin-right: 10%;
}


a{
    text-decoration: none;
    color: white;
    transition: color 600ms linear; 
}

a:hover {
    color: rgb(95, 31, 63);
}



h1 {

    font-family: 'Courier New', Courier, monospace;
    color: aqua;
}

h2 {
    color: white;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
    color: white;
}


header {
    background-color: rgba(0, 0, 0, .95);
    box-shadow: 2px 10px 10px rgba(0,0,0, .25);
    padding-top: 1em;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: lightgrey;
    border-bottom: 2px lightseagreen solid;
    margin-bottom: 2em;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

iframe {
    margin:auto;
    display: block;
    border-radius: 2%;
    margin-top: 2em;
    margin-bottom: 2em;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2%;
}