body {
    background-size: cover;
    margin: 0;
    background-image: url(imgs/background-supernova.jpg);
}


a {
    text-decoration: none;
    color: white;
    transition: color 600ms linear; 
}

a:hover {
    color: rgb(95, 31, 63);
}

#container a{
    color: white;
    margin-left: 15%;

}

#container ul {
    list-style-type: none;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

p {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}

header {
    background-color: rgba(0, 0, 0, .95);
    box-shadow: 2px 10px 10px rgba(0,0,0, .25);
    padding-top: 1em;
    text-align: center;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    color: lightgrey;
    border-bottom: 2px lightseagreen solid;
    margin-bottom: 2em;
}

header ul {
    list-style: none;
}

header li {
    display: inline-block;
    margin-left: 4%;
    margin-right: 4%;
}

#explicacao-supernovas {
    margin-left: 3%;
    margin-right: 3%;

}

#container {
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 2%;
}

#container p {
    display: inline-block;
    width: 30%;
    margin-left: 15%;
    color: white;
}

#container img {
    display: inline-block;
    float: right;
    position: relative;
    top: -25em;
    margin-right: 15%;
    border: 1px black solid;
    border-radius: 2%;
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container h1 {
    color: white;
}

#explicacao2 p{
    color: white;
    margin-left: 10%;
    margin-right: 10%;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2em;

}

.tabela {
    border:1px sólido #C0C0C0;
    border-collapse:colapso;
    padding:5px;
}
.tabela th {
    border:1px sólido #C0C0C0;
    padding:5px;
    background:#8B99A7;
}

#tabela-section {
    margin-left: 10%;
    margin-right: 10%;
}

#tabela-section p {
    color: white;
}

#tabela-section h1 {
    color: white;
}

.tabela {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3em;
}

.tabela td {
    border:1px sólido #C0C0C0;
    text-align: center;
    padding:5px;
}